
body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}
/* button style code below*/

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 125px;
    overflow: hidden;
    
    
}

.button {
    padding: 20px 170px;
    outline: none;
    border: none;
    cursor: pointer;
    border-right: 1px solid gray;
    background-color: aqua;
    font-family: 'Inter' , sans-serif;
    
    

    
    
}

.button:last-child {
    border-right: none;
}

.button:hover {
    background: #dddddd;
}

/* button style code above*/

body {
    font-family:Arial;
    font-size:13px;
  }
  #posts {
    color:white;
    font-family:Arial;
    background-color: #f9f9f9;
  }
  #posts div{
    padding:12px;
    font-size:14px;
    border-radius:0px;
    float:left;
    margin:0px 0px 20px 0px;
    background:grey;
    text-align:center;
    min-width:90px;
    min-height:130px;
    border-bottom:10px solid rgba(0,0,0,.15);
  }
  #posts .dribbble{ background:#ea4c89;}
  #posts .facebook{ background:#3a5795;}
  #posts .instagram{ background:#517fa4;}
  #posts .google{ background:#dd4b39;}
  #posts .youtube{ background:#b31217;}
  #posts .pinterest { background:#cb2027;}
  #posts .soundcloud{background:#f50}
  #posts .vimeo { background:#45bbff;}
  #posts .twitter {background:#00a5e5;}
  #posts .behance {background: #0079ff;}
  #posts .vine {background: #00a478;}
  
  #posts div i,#posts div .count { 
    padding: 10px;
    display:block;
    font-size:30px;
  }
  #total,#total_k {
    padding: 10px;
    font-weight:bold;
    font-size:20px;
  }
  #total:before, #total_k:before  {
     content:'Total Fans: ';
    font-weight:normal;
  }

