
body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}
/* button style code below*/

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 125px;
    overflow: hidden;
    
}

.button {
    padding-top: 20px;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
    outline: none;
    border: none;
    cursor: pointer;
    border-right: 1px solid gray;
    background-color: aqua;
    font-family: 'Inter' , sans-serif;
    
}

.button:last-child {
    border-right: none;
}

.button:hover {
    background: #dddddd;
}

/* button style code above*/

#oldmonk {
    border: 2px solid red;
    padding: 0px;
    width: 300px;
    height: 270px;
    float: left;
    text-align: left;
}

