
body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}
/* button style code below*/

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 125px;
    /*overflow: hidden;*/
    
}

.button {
    border-color: purple;
    cursor: pointer;
    width: 125px;
    height: 50px;
   /* border-top: none;
    border-bottom: none;
    /*background-color: aqua;*/
    font-family: 'Inter' , sans-serif;
    
}
.button:first-child {
    border-left: none;
}
.button:last-child {
    border-right: none;
}

.button:hover {
    background: #dddddd;
}

/* button style code above*/

/*picture formatting below*/
#cartmonkey {
    border: 2px solid black;
    padding: px; 
    width: 350px;
    height: 225px;
    float: right;
    margin-left: 10px;
}
#oldmonk {
    border: 2px solid black;
    padding: 0px;
    width: 250px;
    height: 280px;
    float: left;
    text-align: left;
    margin-right: 10px;
}
 #p2 {
    padding: 1px;
    color: blue;
 }
/*picture formatting above*/
